# Causes an infinite redirect loop:
#RedirectPermanent /index.html http://xapian.org/
RedirectPermanent /omega.conf http://xapian.org/omega.cgi
RedirectPermanent /cvs.php http://www.xapian.org/bleeding
RedirectPermanent /download)) http://www.xapian.org/download
RedirectPermanent /lists) http://www.xapian.org/lists
RedirectPermanent /news.php http://www.xapian.org/download
RedirectPermanent /, http://www.xapian.org/
RedirectPermanent /" http://www.xapian.org/
RedirectPermanent /) http://www.xapian.org/
