<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>The Xapian Project : Bleeding Edge</title>
[% INSERT styleandmeta.txt %]
</head>

<body>

<div id="Content">

<h1>Bleeding Edge</h1>

<p>
If you want a stable version of Xapian, we recommend using a
<a href="download">released version</a>.  But if you're happy to cope
with potential breakage and want to try the latest development code, or
do development yourself, you can access our <a href="http://git-scm.com/">git</a>
repository.
</p>

<p>
The repository includes a complete history of the code, including that from the 
original Open Muscat project's CVS repository, and from the subsequent SVN
repository.  It should be complete, except that we dropped CVS tags for the old
nightly snapshots (and a few others which it seems highly unlikely anyone would
find useful) - if you really need these for some reason, contact us for a copy
of the archived CVS tree.
</p>

<h2>Access Details</h2>

<p>Note: If you just want to look at the history of a few files, you may find
it easier and quicker to browse the repository online:
</p>

<ul>
<li> <a href="http://trac.xapian.org/browser/git">browse (using trac)</a>
<li> <a href="http://gitorious.org/xapian/xapian">browse gitorious mirror</a>
<li> <a href="https://github.com/xapian/xapian">browse github mirror</a>
<li> <a href="http://trac.xapian.org/browser/git">browse the old SVN repo (using trac)</a>
<li> <a href="http://svn.xapian.org/Xapian/">browse the old SVN repo (using trac)</a>
</ul>

<h3 id="git">Using Git</h3>

<p>
You can check out code from the master git repo at git.xapian.org like so:
</p>

<ol>
<li> <tt>git clone git://git.xapian.org/xapian</tt>

<li> Read the "Building from git" section in <a href="http://trac.xapian.org/export/HEAD/trunk/xapian-core/HACKING"><tt>xapian-core/HACKING</tt></a> - in particular make sure you have the required tools installed.

<li> In the newly created <tt>xapian</tt> directory, run the command
    <tt>./bootstrap</tt> - this will run various developer tools to produce a
    source tree like you'd get from unpacking release source tarballs.

<li> <tt>bootstrap</tt> will create a top level <tt>configure</tt> script,
    which you can use to configure the whole source tree together.

<li> If you're looking to do development work on Xapian, then the rest of
    <tt>xapian-core/HACKING</tt> is recommended reading.
</ol>

<p>
All branches should be available via git (you can list them with
<code>git branch -r</code>).  Note that SVN tags appears as branches in git.
</p>

<p?>
There are also mirrors on <a href="https://gitorious.org/xapian/xapian/">gitorious.org</a>
and <a href="https://github.com/xapian/xapian">github</a> which you will probably
find more convenient to clone from if you use those sites.  These are updated automatically
when changes are pushed to the master repo, so should be very current.
There's also a git mirror on <a href="http://repo.or.cz/w/xapian.git">repo.or.cz</a>
which updates by polling.
</p>

<h3 id="svn">Using Subversion</h3>

<p>
The subversion repository is not longer updated, but should you need to work with it
still here are the details:
</p>

<ol>
<li> <tt>svn co svn://svn.xapian.org/xapian/trunk xapian</tt>

<li> Read the "Building from git" section in <a href="http://trac.xapian.org/export/HEAD/trunk/xapian-core/HACKING"><tt>xapian-core/HACKING</tt></a> - in particular make sure you have the required tools installed.

<li> In the newly created <tt>xapian</tt> directory, run the command
    <tt>./bootstrap</tt> - this will run various developer tools to produce a
    source tree like you'd get from unpacking release source tarballs.

<li> <tt>bootstrap</tt> will create a top level <tt>configure</tt> script,
    which you can use to configure the whole source tree together.

<li> If you're looking to do development work on Xapian, then the rest of
    <tt>xapian-core/HACKING</tt> is recommended reading.
</ol>

<h2>Snapshots</h2>

<p>
You can download
<A HREF="http://oligarchy.co.uk/xapian/trunk/">automated snapshots</A>,
which are generated from git every 20 minutes, provided <tt>make distcheck</tt> 
passes on Linux.  This means that some breakages are avoided, but they may 
still fail to build for you if you're using a different platform, or even a
different version of Linux.
</p>

<p>
If you want to get a better idea of how healthy the tree is on various
platforms, see the
<a href="http://trac.xapian.org/wiki/AutomatedBuilds">automated builds</a>
page on the wiki.
</p>

</div>

[% cssnav %]

</body>
</html>
