<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>The Xapian Project : Bleeding Edge</title>
[% styleandmeta %]
</head>

<body>

<div id="Content">

<h1>Bleeding Edge</h1>

<p>
If you want a stable version of Xapian, we recommend using a
<a href="download">released version</a>.  If you're happy to cope
with potential breakage and want to try the latest development code, or
do development yourself, you can access our git repository.
</p>

<p>
The repository includes a complete history of the code, including that from the 
original Open Muscat project's CVS repository, and from the subsequent SVN
repository.  It should be complete, except that we dropped CVS tags for the old
nightly snapshots (and a few others which it seems highly unlikely anyone would
find useful) - if you really need these for some reason, contact us for a copy
of the archived CVS tree.
</p>

<h2 id="git">Git</h2>

<p>
If you don't already have git installed you'll need to do that.  If you're
using a distro with a package system then you should find it there.
Otherwise see the <a href="https://git-scm.com/">git website</a> for
downloads.
</p>

<p>
You can check out code from the master git repo at git.xapian.org like so:
</p>

<ol>
<li> <tt>git clone https://git.xapian.org/xapian</tt>

<li> Read the "Building from git" section in <a href="https://trac.xapian.org/browser/git/xapian-core/HACKING"><tt>xapian-core/HACKING</tt></a> - in particular make sure you have the required tools installed.

<li> In the newly created <tt>xapian</tt> directory, run the command
    <tt>./bootstrap</tt> - this will run various developer tools to produce a
    source tree like you'd get from unpacking release source tarballs.

<li> <tt>bootstrap</tt> will create a top level <tt>configure</tt> script,
    which you can use to configure the whole source tree together.

<li> If you're looking to do development work on Xapian, then the rest of
    <tt>xapian-core/HACKING</tt> is recommended reading.
</ol>

<p>
Note: Prior to late September 2016, git.xapian.org supported the git protocol
instead of https - when we added https support, we decided to remove git as
it seems to have no advantages and some disadvantages compared to https.  If
you have an existing clone of the repo, you can update the remote URL like so
(assuming your remote uses the default name "origin" - if not, specify the
appropriate remote name instead):
</p>

<pre>
git remote set-url origin https://git.xapian.org/xapian
</pre>

<p>
All branches should be available via git (you can list them with
<code>git branch -r</code>).  Note that SVN tags appears as branches in git.
</p>

<p>
There are also mirrors on
<a href="http://repo.or.cz/w/xapian.git">repo.or.cz</a> (which polls for updates) and 
<a href="https://github.com/xapian/xapian">github</a> (updated by a hook).
You may find these more convenient to clone from if you use those sites.
</p>

<h3>Browsable git repos</h3>

<p>If you just want to look at the history of a few files, you may find
it easier and quicker to browse the repository online:
</p>

<ul>
<li> <a href="https://git.xapian.org/?p=xapian;a=summary">browse (using gitweb)</a>
<li> <a href="https://trac.xapian.org/browser/git">browse (using trac)</a> (after registering and verifying an account)
<li> <a href="http://repo.or.cz/w/xapian.git">browse repo.or.cz mirror</a>
<li> <a href="https://github.com/xapian/xapian">browse github mirror</a>
</ul>

<h3 id="svn">Subversion</h3>

<p>
The subversion repository is no longer available online, but if you have a
subversion revision number it's usually not hard to find the corresponding
git commit.  Say you want to find SVN revision 12345 - there are two ways:
</p>

<ul>
<li> Enter the URL <code>https://xapian.org/C?12345</code> which will redirect
you to the corresponding git commit in gitweb.
<li> <p>In your local clone of the git repo you can run:</p>

<blockquote><code>
git log --grep '^git-svn-id: .*@12345 ' `git branch --list -r 'origin/svn/*'`
</code></blockquote>

<p>
This searches the log messages of the history of all git branches which were
imported from SVN for a commit with the requested SVN revision id in the
mapping line automatically added by git-svn.
</p>
</ul>

<p>However, note that there are a small number of SVN revisions which aren't present in the git tree.</p>

<h2>Snapshots</h2>

<p>
You can download
<A HREF="https://oligarchy.co.uk/xapian/master/">automated snapshots</A>,
which are generated from git once a day, provided <tt>make distcheck</tt>
passes on Linux.  This means that some breakages are avoided, but they may 
still fail to build for you if you're using a different platform, or even a
different version of Linux.
</p>

<p>
If you want to get a better idea of how healthy the tree is on various
platforms, see the
<a href="https://trac.xapian.org/wiki/AutomatedBuilds">automated builds</a>
page on the wiki.
</p>

</div>

[% cssnav %]

</body>
</html>
