<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>The Xapian Project : Bugs</title>
[% styleandmeta %]
</head>

<body>

<div id="Content">

<H1>Bugs</H1>

<p>We now use <a href="https://trac.xapian.org/">trac</a> as our bug-tracker.
All bugs filed in the old bugzilla installation have been migrated.</p>

<p>Please choose one of the following options:</p>

<ul>
<li> <a href="https://trac.xapian.org/report">View existing bug reports</a>
<li> <a href="https://trac.xapian.org/newticket">Create a new bug report</a>
<li> <a href="https://trac.xapian.org/register">Create a new trac account</a>
</ul>

</div>

[% cssnav %]

</body>
</html>
