<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>The Xapian Project : Downloads</title>
[% INSERT styleandmeta.txt %]
</head>

<body>

<div id="Content">

<h1>Downloads</h1>

[% FOREACH r IN releases %]
[% SWITCH r.status %]
[% CASE 'stable' %]
<h2>Stable release</h2>

<p>The [% r.branch | html %] branch is the current stable release branch.  We
recommend you use this branch unless you have a particular need to use an older 
version.
<!--  If you wish, you can
read a <a href="http://wiki.xapian.org/ReleaseOverview/">more
complete overview of the changes</a> in the 1.0 release.
<i>[List for 1.2.x to be written still, sorry!]</i>
-->
</p>
[% CASE 'development' %]
<h2>Development release</h2>
[% END %]

<p id="[% r.branch | html %]">The latest [% r.status | html %] release is
<B>[% r.version | html %]</B>:</p>

<ul>
<li> <a HREF="http://oligarchy.co.uk/xapian/[% r.version | html %]/xapian-core-[% r.version | html %].[% r.extension | html %]">xapian-core</a>: the Xapian library itself
<a HREF="/docs/xapian-core-[% r.version | html %]/NEWS">[news]</a>
<li> <a HREF="http://oligarchy.co.uk/xapian/[% r.version | html %]/xapian-omega-[% r.version | html %].[% r.extension | html %]">omega</a>: Omega - an application built on Xapian, consisting of indexers and a CGI search frontend.
<a HREF="/docs/xapian-omega-[% r.version | html %]/NEWS">[news]</a>
<li> <a HREF="http://oligarchy.co.uk/xapian/[% r.version | html %]/xapian-bindings-[% r.version | html %].[% r.extension | html %]">xapian-bindings</a>: bindings allowing Xapian to be used from various other programming languages
<a HREF="/docs/xapian-bindings-[% r.version | html %]/NEWS">[news]</a>
[% IF r.perl_minor != "" %]
<li> <a HREF="http://oligarchy.co.uk/xapian/[% r.version | html %]/Search-Xapian-[% r.version | html %][% r.perl_minor | html %].tar.gz">Search::Xapian</a>: Perl bindings
(<a HREF="http://search.cpan.org/~olly/Search-Xapian-[% r.version | html %][% r.perl_minor | html %]/">on CPAN</a>)
<a href="/docs/Search-Xapian-[% r.version | html %][% r.perl_minor | html %]/Changes">[news]</a>
(<a HREF="http://search.cpan.org/~olly/Search-Xapian-[% r.version | html %][% r.perl_minor | html %]/Changes">on CPAN</a>)
[%# <? if (time() - strtotime($release_date) < 7*24*3600) {
// Show this warning for 7 days after the release
?> %]
<small class="cpanwarn">(CPAN mirrors may not update for a few days after a new release)</small>
[%# <? } ?> %]
[% END %]
</ul>

[% SWITCH r.status %]
[% CASE 'stable' %]
<p>The wiki contains a <a href="http://wiki.xapian.org/ReleaseNotes">summary of bugs, patches, and workarounds</a>
relating to the latest release.
</p>
[% END %]

[% END %]

<h1 id="deb">Debian and Ubuntu packages</h1>

<p>
Packages of xapian-core, xapian-omega, xapian-bindings (Python, Ruby,
and Tcl), and the perl bindings (the package name is libsearch-xapian-perl) are 
available from the Debian and Ubuntu repositories.
</p>

<p>
Backported Debian packages of newer versions are available from
<a href="http://backports.debian.org/">backports.debian.org</a>.
</p>

<p>
Backported Ubuntu packages of newer versions are available from
Launchpad Personal Package Archives (PPAs) maintained by Olly Betts for
<a href="https://launchpad.net/~xapian-backports/+archive/xapian-1.2">1.2.x</a>.
Follow the instructions on those links for how to make use of these.  Currently
all packages are backported to all Ubuntu releases which are still supported.
</p>

<h1 id="RPM">RPM packages</h1>

<!--
If you don't want to try building packages for all the supported bindings,
# you can disable particular bindings by passing these options to rpmbuild:
#
#       - -without csharp        Disable C# bindings
#       - -without php           Disable PHP bindings
#       - -without python        Disable Python bindings
#       - -without tcl8          Disable Tcl8 bindings


   ould you add the note at the top of the rpm spec in xapian-bindings
   (- -without csharp etc.) to the download page - preferably with an example:

   Building the bindings from source without mono:

   $ rpmbuild -ta - -without csharp xapian-bindings-*.tar.gz
   -->

<h2 id="fedora">Fedora</h2>

<p>Fedora have RPM packages for Xapian in their default
repositories, though these may lag behind the latest releases a bit.</p>

<h2 id="rhel">RedHat Enterprise Linux</h2>

<p>Tim Brody has built RPM packages for RedHat Enterprise Linux 5 and 6
- there are binary packages for i386 and x86_64, and source RPMs (the
RHEL5 packages are no longer updated, the latest are of Xapian 1.2.5).</p>

<p>
For convenience you can install a package to pull in his package repository
and then you can install the packages using yum:</p>
<blockquote><pre>
<span id="prompt">$</span> su
<i>enter your root password</i>
<span id="prompt">#</span> rpm -ivh http://rpm.eprints.org/rpm-eprints-org-key-1-1.noarch.rpm
<span id="prompt">#</span> rpm -ivh http://rpm.eprints.org/xapian/6/noarch/rpm-eprints-org-xapian-6-1.noarch.rpm
<span id="prompt">#</span> yum update
<span id="prompt">#</span> yum install xapian-omega xapian-bindings-{php,python,tcl8,perl,ruby}
</pre></blockquote>

<p>(or whatever Xapian packages you want to install).</p>

<p>
perl-Search-Xapian is available for those not using the SWIG bindings.
</p>

<p>
EPEL has older 1.2.x packages for RHEL 6:
<a href="https://fedoraproject.org/wiki/EPEL">https://fedoraproject.org/wiki/EPEL</a>
</p>

<h2 id="slackware">Slackware</h2>

<p>
Packages for slackware linux are available from <a href="http://slackbuilds.org/result/?search=xapian">slackbuilds</a>.
</p>

<h2 id="srpm">Source RPMs</h2>

<p>
The source RPMs (the files that end in ".src.rpm") are
not distribution specific - you can build binary RPMs from those
if binary packages aren't available for your architecture or
distribution like so:
</p>
<blockquote><pre>
<span id="prompt">$</span> rpmbuild --rebuild <i>PACKAGENAME</i>.src.rpm
</pre></blockquote>

<h2>Other RPM-based distributions</h2>

<p>These RPM-based distributions have their own RPM packages which might
be better tailored:
</p>

<ul>
<li><a href="http://packages.altlinux.org/en/search?query=&quot;xapian.org&quot;">ALT Linux RPMs</a> of xapian-core, omega, and the python and ruby bindings</li>
<li><a href="https://software.opensuse.org/search?q=xapian">SuSE RPMs</a> of xapian-core, omega, and most of the bindings</li>
</ul>

<h1>Other Linux Distributions</h1>

<ul>
<li>Gentoo has packages for
<a href="https://packages.gentoo.org/packages/dev-libs/xapian">xapian-core</a>,
<a href="https://packages.gentoo.org/packages/dev-libs/xapian-bindings">xapian-bindings</a> and
<a href="https://packages.gentoo.org/packages/app-text/xapian-omega">xapian-omega</a>.
</li>
<li>FrugalWare Linux has <a href="https://www.frugalware.org/packages/?op=pkg&srch=xapian&arch=all&ver=current">packages of xapian-core and the bindings</a>.</li>
<li>archlinux has <a href="https://aur.archlinux.org/packages/?SeB=n&K=xapian">packages of xapian-core, omega, and most of the bindings</a>.</li>
</ul>

<h1>FreeBSD Ports Collection</h1>

<p>The FreeBSD Ports Collection has
<a href="https://www.freshports.org/search.php?query=xapian">packages</a> for
xapian-core, xapian-omega, xapian-bindings (Python, Ruby and PHP), and Search::Xapian.</p>

<h1>NetBSD pkgsrc</h1>

<p>The NetBSD pkgsrc collection has 
<a href="http://pkgsrc.se/search.php?so=xapian">packages</a>
for xapian-core, xapian-omega, and Search::Xapian.</p>

<h1>OpenBSD</h1>

<p>OpenBSD Ports has <a href="http://openports.se/search.php?so=xapian">packages</a>
for xapian-core and xapian-omega.</p>

<h1>Mac OS X</h1>

<p><a href="http://brew.sh/">Homebrew</a> has xapian-core and the bindings
for several languages packaged.  For example, use
<code>brew install --build-from-source xapian --with-python</code> to install
the core library and the Python bindings (note that currently you need to have
installed python from Homebrew first).</p>

<p>The <a href="http://www.finkproject.org/">Fink project</a> has <a
href="http://pdb.finkproject.org/pdb/browse.php?summary=xapian">packages</a>
for xapian-core, Omega, and the Python and Ruby bindings.</p>

<p>Alternatively, <a href="http://www.macports.org/">MacPorts</a> has <a
href="http://www.macports.org/ports.php?by=name&substr=xapian">packages</a>
for xapian-core.</p>

<h1>Cygwin</h1>

<p>
Packages for xapian-core, xapian-bindings, and Search::Xapian are available
from <a href="http://sourceware.org/cygwinports/">Cygwin Ports</a>.
Packages for Omega aren't there yet, but you can get
those from 
<a href="http://rurban.xarch.at/software/cygwin/contrib/xapian/">Reini Urban's site</a>.
</p>

<h1>Microsoft Windows</h1>

<p>There are two options for native Microsoft Windows support (not counting
Cygwin):</p>

<ul
<li>The standard source tarball can be built using <a href="http://www.mingw.org/">MSYS+mingw</a>.

<li>A <a href="http://trac.xapian.org/browser/svn/branches/1.2/xapian-maintainer-tools/win32msvc">separate build system of nmake makefile</a>
put together by Ulrik Petersen and Charlie Hull allow building with MSVC.
These are currently lacking a maintainer, but apparently still work for recent
releases.  They include support for Python, PHP, Ruby, C#, and the experimental
SWIG-based Java bindings.
</ul>

</div>

[% cssnav %]

</body>
</html>
