<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>The Xapian Project</title>
[% INSERT styleandmeta.txt %]
</head>

<body>

<div id="Content">

<img src="xapian-logo.png" alt="The Xapian Project">

<div style="padding:1em;background-color:#dff;border:1px solid #999;
      font:13px/18px verdana, arial, helvetica, sans-serif;">
Xapian is taking part in <a href="https://developers.google.com/open-source/gsoc/">Google Summer of Code</a> this year - here's our <a href="https://trac.xapian.org/wiki/GSoCProjectIdeas">list of project ideas</a>.
</div><br>

[%#
<div style="padding:1em;background-color:#dff;border:1px solid #999;
      font:13px/18px verdana, arial, helvetica, sans-serif;">
We are intending to apply to be a mentoring org in <a href="https://developers.google.com/open-source/gsoc/">Google Summer of Code 2015</a> - here's our <a href="https://trac.xapian.org/wiki/GSoCProjectIdeas">list of project ideas</a>.
</div><br>
%]
<p>Welcome to the Xapian project website.</p>

<p>Xapian is an Open Source Search Engine Library, released under the
<a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html">GPL v2+</a>.
It's written in <a href="/docs/apidoc/html/annotated.html">C++</a>,
with <a href="/docs/bindings/">bindings</a> to allow use from
<a href="/docs/bindings/perl/Search/Xapian.html">Perl</a>,
<a href="/docs/bindings/python/">Python</a>,
<a href="/docs/bindings/php/">PHP</a>,
<a href="/docs/bindings/java/">Java</a>,
<a href="/docs/bindings/tcl8/">Tcl</a>,
<a href="/docs/bindings/csharp/">C#</a>,
<a href="/docs/bindings/ruby/">Ruby</a>,
<a href="/docs/bindings/lua/">Lua</a>,
<a href="https://github.com/arcusfelis/xapian-erlang-bindings#readme">Erlang</a>,
<a href="https://github.com/mtibeica/node-xapian#readme">Node.js</a>
and
<a href="https://github.com/amandaJayanetti/RXapian#readme">R</a>
(so far!)</p>

<p>Xapian is a highly adaptable toolkit which allows developers
to easily add advanced indexing and search facilities to their own
applications.  It supports the Probabilistic Information Retrieval
model and also supports a rich set of boolean query operators.</p>

<p>If you're after a packaged search engine for your website, you
should take a look at <a href="/docs/omega/overview.html">Omega</a>:
an application we supply built upon
Xapian.  Unlike most other website search solutions, Xapian's
versatility allows you to extend Omega to meet your needs as they grow.</p>

[% FOREACH r IN releases %]
<p>The <a href="[% r.announce | html %]">latest [% r.status | html %] version
is [% r.version | html %]</a>, released on [% r.release_date | html %].</p>
[% END %]

</div>

[% cssnav %]

</body>
</html>
