<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>The Xapian Project : Mailing Lists</title>
[% styleandmeta %]
</head>

<body>

<div id="Content">

<h1>Mailing Lists</h1>

<p>There are four mailing lists relating to Xapian:</p>
<ul>
<li> <tt><a href="https://lists.xapian.org/mailman/listinfo/xapian-discuss">xapian-discuss</a></tt> for general discussions about the Xapian project
[<a href="http://gmane.org/info.php?group=gmane.comp.search.xapian.general">Gmane</a>]
<li> <tt><a href="https://lists.xapian.org/mailman/listinfo/xapian-devel">xapian-devel</a></tt> for technical discussions about the development of Xapian
[<a href="http://gmane.org/info.php?group=gmane.comp.search.xapian.devel">Gmane</a>]
<li> <tt><a href="https://lists.xapian.org/mailman/listinfo/xapian-commits">xapian-commits</a></tt> used to receive details of CVS/SVN commits (now inactive)
[<a href="http://gmane.org/info.php?group=gmane.comp.search.xapian.cvs">Gmane</a>]
<li> <tt><a href="https://lists.xapian.org/mailman/listinfo/xapian-tickets">xapian-tickets</a></tt> receives details of trac ticket changes (can be a <em>lot</em> of messages)
<!-- FIXME: need to subscribe tickets list to gmane...
[<a href="http://gmane.org/info.php?group=gmane.comp.search.xapian.cvs">Gmane</a>]
-->
</ul>

<p>The [Gmane] links take you to the Gmane news gateway which allows you to
read these lists with a newsreader, or browse the archives on the web.</p>

<p>Posts from non-subscribers currently require approval (we'd rather not
have to impose this restriction, but we also want to avoid relaying spam
to our subscribers).  So if you aren't subscribed, there's likely to be
a delay before your message is approved and relayed to the list.  Please
be patient and don't resend a message just because it doesn't appear right
away.
</p>

<!-- We're no longer using twitter for reasons that should be obvious.
<p>
If you only want announcements, you can follow <a
href="https://twitter.com/xapian">@xapian on twitter</a>.
</p>
-->

<!-- Gmane search is dead...
<h2>Searching the lists</h2>

<form method="get" action="http://search.gmane.org/">
<p>
Search
<select name="group">
<option value="gmane.comp.search.xapian.general">xapian-discuss</option>
<option value="gmane.comp.search.xapian.devel">xapian-devel</option>
<option value="gmane.comp.search.xapian.*">all xapian</option>
</select>
list archives for <input type="text" name="query">
<input type="submit" value="Search">
</p>
</form>
-->

<h1>Matrix Chat</h1>

<p>Our Matrix room is #xapian:matrix.org.
</p>

<p>
<a href="https://app.element.io/#/room/#xapian:matrix.org">Element</a> is a web
application which allows you to access the matrix room which is bridged to the
#xapian IRC channel.  Use requires registration (free), but the big advantage
is you stay in the room while disconnected, and then can catch up on the
discussion when you connect again.  There are also
<a href="https://matrix.org/docs/projects/try-matrix-now/">mobile, desktop and
command line apps</a> available.
</p>


<p>The users of the room are in many different timezones, so you won't
necessarily get an instant response.  This doesn't mean we're ignoring you,
just that none of us are at our computers right now, so please hang on for a
reply, or use the mailing lists above instead.
</p>

<h1>IRC</h1>

<p>We used to have an IRC channel on libera.chat which was bridged to the
Matrix room, but that bridging is no longer available and the IRC channel has
become inactive.  Please use the Matrix room instead.
</p>

</div>

[% cssnav %]

</body>
</html>
