<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>The Xapian Project : Search</title>
[% INSERT styleandmeta.txt %]
</head>

<body>

<div id="Content">
[% #<? virtual("/omega.cgi?FMT=xapian.org&".$_SERVER['QUERY_STRING']); %]
Search currently offline during server upgrade...
</div>

[% cssnav %]

</body>
</html>
