<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>The Xapian Project : Sponsors</title>
[% styleandmeta %]
</head>

<body>

<div id="Content">

<h1>Financial Sponsors</h1>

<p>The following sponsors have donated money to the Xapian project in
the last year.  We thank them for their generous support.</p>

<ul style="list-style-type:none;">

<li> <a href="https://runbox.com/" rel="nofollow"><img src="images/runbox-logo.png" alt="runbox"></a>

</ul>

<h2>Donating</h2>

<!-- FIXME Add details of donating by bank transfer or cheque
    <p>We can accept donations in several ways:</p>
-->

<ul style="list-style-type:none;">

<li>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="Y8WL47RVZJ3LQ">
<button type="submit" style="font-weight:bold;padding:4px 21px;background-color:#ffc439;border:0px;border-radius:12px;text-size:12px;">Donate</button> with PayPal.  You can use a credit card or PayPal balance, and make a one-off or monthly donation.
</form>

</ul>

<h1>Infrastructure Sponsors</h1>

<ul style="list-style-type:none;">

<li> <a href="https://sfconservancy.org/"><img src="images/conservancy-logo.png" alt="Software Freedom Conservancy"></a>
     <div>Software Freedom Conservancy act as our fiscal sponsor.</div>

</ul>

<h1>Disclaimer</h1>

<p>Being listed on this page should not be taken as any sort of endorsement by
the project.</p>

<!-- FIXME how to contact?
<p>If you have donated to Xapian and wish to be listed above, please
contact us.</p>
-->

</div>

[% cssnav %]

</body>
</html>
