<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>The Xapian Project : Sponsors</title>
[% styleandmeta %]
</head>

<body>

<div id="Content">

<h1>Financial Sponsors</h1>

<p>The following sponsors have donated money to the Xapian project in
the last year.  We thank them for their generous support.</p>

<ul style="list-style-type:none;">

<li> <a href="https://runbox.com/" rel="nofollow"><img src="images/runbox-logo.png" alt="runbox"></a>

</ul>

<h1>Infrastructure Sponsors</h1>

<ul style="list-style-type:none;">

<li> <a href="https://sfconservancy.org/"><img src="images/conservancy-logo.png" alt="Software Freedom Conservancy"></a>
     <div>Software Freedom Conservancy act as our fiscal sponsor.</div>

</ul>

<h1>Disclaimer</h1>

<p>Being listed on this page should not be taken as any sort of endorsement by
the project.</p>

<!-- FIXME how to contact?
<p>If you have donated to Xapian and wish to be listed above, please
contact us.</p>
-->

</div>

[% cssnav %]

</body>
</html>
