<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>The Xapian Project : Sponsors</title>
[% styleandmeta %]
</head>

<body>

<div id="Content">

<h1>Sponsors</h1>

<p></p>

<ul>

<li> <a href=""></a>

</ul>

<p>Being listed above should not be taken as any sort of endorsement by the
project - the only requirement to be listed is that they've donated
to Xapian.</p>

<p>If you have donated to Xapian and wish to be listed above, please
contact us via the <a href="lists">mailing list or IRC</a>.</p>

</div>

[% cssnav %]

</body>
</html>
